.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* Adding the CSS style for Game */
.fa-star
{
  margin: 0.5em; 
  font-size: 2em;
}

span 
{
  display: inline-block; 
  margin: 0.5em; 
  text-align: center;
  background-color: #ccc;
  width: 30px; 
  border-radius: 50%;
  cursor: pointer;    /* to create clickable nums */
}

.selected 
{
  background-color: #ff0000; 
  color: #ddd;
  cursor: not-allowed; /* Can't click again */
}

.used 
{
  background-color: #aaddaa; 
  color: #99bb99; 
  cursor: not-allowed;

}
